.App {
  text-align: center;
}
body{
  background-color: var(--background-color-primary) !important;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#root{
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-family: Dejavu Sans; 
}
a:hover{
  color: var(--hover-color-primary);
}
.logo-image:hover{
  fill: var(--hover-color-primary)
}
.float-label-input label{
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
}
.float-label-input input{
  color: var(--text-color-secondary);
}
.float-label-input label{
  color: var(--text-color-secondary);
}
.h1-link:hover{
  color:var(--hover-color-primary);
  cursor:pointer;
}
.dialog-panel-bg{
  background-color: var(--background-color-secondary) !important;
}
.standard-text-color{
  color: var(--text-color-primary)
}
.secondary-text-color{
  color: var(--text-color-secondary)
}
.input-active-label{
  color: var(--text-color-secondary)
}
.secondary-bg{
  background-color: var(--background-color-secondary) !important;
}
.hover-bg:hover{
  background-color: var(--hover-color-primary);
  color: var(--dark-text-color);
}
.modal-input-background input{
  background-color: var(--background-color-primary) !important;
  color: var(--text-color-primary)
}
.modal-input-background label{
  background-color: var(--background-color-primary) !important;
}
.primary-bg{
  background-color: var(--background-color-primary) !important;
}